name: CI

on:
  pull_request:
  push:
    branches:
      - 'master'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  bazel:
    runs-on: ubuntu-22.04
    steps:

      - name: Checkout source
        uses: actions/checkout@v5
        with:
          submodules: recursive
          ssh-key: ${{ secrets.SSH_KEY }}

      - uses: bazel-contrib/setup-bazel@0.15.0

      - uses: extractions/netrc@v2
        with:
          machine: raw.githubusercontent.com
          username: ${{ secrets.GH_NAME }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build and test
        run: bazel test --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_TEST }} //...
